node_modules
build
dist
coverage
public
.env
.env.example
*.svg
app
logs
pids
assets
.gitea
.gitignore
.vscode
.idea
*.log
*.tsbuildinfo
*.d.ts
*.tsbuildinfo
*.md
.husky
prettier.config.js
.prettierignore
.prettierrc
.eslintrc.js
.eslintignore
.eslintcache
*.iml
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode-test
.vscode-remote





