.threadItem {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #2e2e2e;

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        margin-bottom: 8px;

        .username {
            font-weight: 600;
        }

        .timestamp {
            color: #aaa;
        }
    }

    .content {
        margin-bottom: 8px;
        font-size: 15px;
        white-space: pre-line;
    }

    .media {
        display: flex;
        gap: 4px;
        margin-bottom: 8px;

        img,
        video {
            border-radius: 8px;
            max-height: 320px;
            object-fit: contain;
        }

        img {
            max-width: 100%;
        }
    }

    .actions {
        display: flex;
        gap: 16px;
        font-size: 14px;
        color: #00000081;
        align-items: center;

        .action {
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                color: #000;
            }
        }

        .reactionPopover {
            .ant-popover-inner {
                padding: 8px 12px;
                border-radius: 24px;
            }
        }

        .reactionPicker {
            display: flex;
            gap: 12px; // khoảng cách giữa các emoji
        }

        .reactionEmoji {
            font-size: 28px; // to hơn
            cursor: pointer;
            transition:
                transform 0.2s ease,
                filter 0.2s ease;

            &:hover {
                transform: scale(1.5); // zoom khi hover
                filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
            }
        }
    }
}
